server {
    set $project "";
    listen          80;
    listen [::]:80;
    server_name     <domain>;
    ssl off;
    charset     utf-8;
    #access_log      /var/log/nginx/<domain>_access.log combined;
    error_log       /var/log/nginx/<domain>_error.log error;

    location ^~ /.well-known {
        allow all;
        auth_basic off;
        alias /home/$project/.well-known/;
    }
}
